/* File: css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.879);
    color: #ffffff;
    padding: 1rem;
}

header h1 {
    margin: 1;
    color: rgb(216, 216, 216);
    padding: 3px;
    font-size: 40px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem;
    color: rgb(216, 216, 216);
    display: flex;
    font-weight: 600;
    font-size: large;
    flex-wrap: wrap;
    gap: .5rem;
    text-align: center;
    justify-content: center;
}

nav li {
    cursor: pointer;
    padding: 1px;
    border: solid rgba(0, 0, 0, 0);
    flex: 0 0 calc(33% - 2rem);
    box-sizing: border-box;
}

nav li:hover {
    background-color: rgb(65, 96, 77);
    color: rgb(0, 0, 0);
    border: ridge rgb(244, 244, 244);
}

a {
    color: #ccc;
}


#tutorial-container {
    display: flex;
    height: calc(100vh - 3px);
    background-color: rgba(0, 0, 0, 0.879);
    height: fit-content;

    #instructions {
        width: 46%;
        padding: 1rem;
        overflow-y: auto;
        color: rgb(22, 18, 18);
        font-weight: 500;
        background-color: rgb(94, 125, 106);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
    }

    #editor-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 68rem;
        padding-left: 1rem;

    }

    .CodeMirror {
        flex: 1;
        border: 3.2px solid #223fc476;
        background-color: rgba(174, 188, 195, 0.952);
    }

    #controls {
        margin-top: 0.5rem;
        align-self: center;
        display: flex;
        gap: .75rem;

        .btn {
            font-weight: 650;
        }
    }

    #output {
        background-color: rgba(174, 188, 195, 0.952);
        border: 3.2px solid #223fc476;
        padding: 1rem;
        margin-top: 0.5rem;
        height: 30%;
        overflow-y: auto;
    }

    .error-line {
        background-color: #fee;
    }
}